html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1 0 auto;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav .btn::before {
    width: 1.2em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

nav .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.active {
    font-weight: 600;
}

#jsGrid > button {
    margin: 1rem auto;
    display: block;
}
